@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Shippori+Antique+B1&family=Trispace:wght@600&display=swap');

body{
   background-color: rgb(29, 17, 17);
    height : 300px;
    width : 100%;
}   

#container div{
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
}

#container .circle{
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-left: 50rem;
    padding-top: 12rem;
    padding-bottom: 10rem;
}

#container .circle svg{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

#container .circle svg circle{
    width: 100%;
    height: 100%;
    fill: transparent;
    /* stroke: black; */
    stroke-width: 4;
    transform: translate(5px,5px);
    stroke: var(--clr);
    stroke-dasharray: 440;

}

.dots{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
}

.dots::before{
    content: '';
    position: absolute;
    top: -3px;
    width: 15px;
    height: 15px;
    background: var(--clr);
    border-radius: 50%;
}

#display{
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    margin: 0px 0px 14rem 53px;
    padding: 15rem 3.5rem 0.5rem 0%;
    font-size: 30px;
    color: #ffffff;
}

#container h4{
    font-weight: 500;
    font-size: 1.5rem;
    word-spacing: 17rem;
    text-align: center;
    color: rgb(191, 182, 182);
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    padding-left: 35rem;
}

#startPauseResume{
    border-color: rgb(49, 49, 116);
    border-radius: 2.5rem;
    color: #ffffff;
    background-color: rgb(49, 49, 116);
    padding: 0.5rem 3rem;
    margin-right: 20rem;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}

#cancel{
    font-size: 16px;
    border-color: rgb(46, 46, 49);
    border-radius: 2.5rem;
    color: #ffffff;
    background-color: rgb(55, 55, 65);
    padding: 0.5rem 3rem;
    text-align: center;
    font-weight: 700;

}

/* .pause{
    border-color: rgb(112, 18, 18) !important;
    background-color: rgb(112, 18, 18) !important;
}

{
    font-size: 16px;
    width: 15%;
    align-items: center;
    border-color: rgb(49, 49, 116);
    border-radius: 2.5rem;
    color: #ffffff;
    background-color: rgb(49, 49, 116);
    padding: 0.5rem 2rem;
    text-align: center;
    font-weight: 700;
}  */

/* body,html {
    margin: 0%;
    padding: 0%;
    background: rgb(38, 36, 36);
}

* {
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#clock {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15vw;
    background-image: linear-gradient(180deg,
    rgba(99,253,136,1) 0%,
    rgba(51,197,142,1) 50%,
    rgba(39,97,116,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent ;
}

.controls {
    margin-top: 16px;
}

.button {
    font-weight: bold;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 4px 8px;
    margin-left: 4px;
    cursor: pointer;
}

.set-alarm {
    background-color: #498AF8;
}

.clear-alarm {
    background-color: #ff3868;
}